div {
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.grid {
  height: 400px;
  width: 200px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.previous-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

.previous-shape {
  height: 80px;
  width: 80px;
}

.block {
  background-color: blue;
}
.block2 {
  background-color: purple;
}
.block3 {
  background-color: green;
}
