.grid {
  height: 180px;
  width: 180px;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  width: 20px;
  height: 20px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.c1 {
  background-color: black;
}
.c2,
.c3 {
  background-color: grey;
}

.l1,
.l2,
.l3 {
  background-color: brown;
}
.l4,
.l5 {
  background-color: lightblue;
}

.frog {
  background-color: green;
}
